<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bank Welcome Screen</title>
  <link rel="stylesheet" href="app.component.css">
</head>

<body>
  <div class="container">
    <div class="text-section">
      <h1>Halo!!</h1>
      <h2>Selamat datang di (nama bank..)</h2>
      <p>Kami menggunakan keamanan multi-faktor
        untuk memastikan hanya Anda yang dapat
        mengakses akun Anda</p>
      <button class="continue-button">Lanjut</button>
    </div>
    <div class="image-section">
      <img src="image-card-bank.png" alt="">
    </div>
  </div>
</body>

</html>