<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="input-pin.component.css">
</head>

<body>
  <div class="header">
    <div>(NAMA BANK)</div>
    <div class="date">Rabu 23 Oktober</div>
  </div>

  <div class="content">
    <h1>Masukan PIN Anda</h1>
    <div class="subtitle">minimal 6 digit</div>
    <input type="password" class="pin-input" maxlength="6">
  </div>

  <div class="buttons">
    <div class="button-container">
      <span>CANCEl</span>
      <button class="btn btn-cancel" [routerLink]="['/cancel']">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="button-container">
      <span>CLEAR</span>
      <button class="btn btn-clear">
        <i class="fas fa-redo"></i>
      </button>
    </div>
    <div class="button-container">
      <span>ENTER</span>
      <button class="btn btn-enter" [routerLink]="['/main-page']">
        <i class="fas fa-check"></i>
      </button>
    </div>
  </div>

</body>

</html>