<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saldo Akun</title>
  <link rel="stylesheet" href="cek-saldo.component.css">
</head>

<body>
  <div class="main-cek-saldo">
    <nav class="navbar">
      <div class="bank-name">(NAMA BANK)</div>
      <div class="date">Rabu 23 Oktober</div>
    </nav>
    <main class="container">
      <h1>Saldo Akun Anda</h1>
      <p class="balance">Rp 1.050.000</p>
      <button class="button continue">Lanjut Transaksi</button>
      <button class="button exit">Keluar</button>
    </main>
  </div>
</body>

</html>
<!-- halaman cek saldo -->